<ion-header class="ion-no-border">
  <ion-toolbar >
    <!-- <ion-title color="tertiary">
      IoPropertyManager
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/">
        LOGIN
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header" >
    <img *ngIf="!userSelection" src="assets/logo.png"/>
    <h1> Sign Up </h1>
  </div>

  <form [formGroup]="signUpForm" >
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="!userSelection">
          Great! Quick question..
        </ion-card-title>
        <ion-card-subtitle>
          What type of user are you?
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group
            formControlName="membership"
            allowEmptySelection="false"  (ionChange)="userTypeSelection($event)">        
            <ion-item>
              <ion-label>Business Owner</ion-label>
              <ion-radio  color="secondary" slot="end" value="owner"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Team Member</ion-label>
              <ion-radio color="secondary" slot="end" value="teamMember"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="userSelection">
      <ion-card-header>
        <ion-card-title *ngIf="!signUpForm.valid">
          Awesome!
        </ion-card-title>
        <ion-card-subtitle *ngIf="!signUpForm.valid">
          Now for some minor details..
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="signUpForm.valid">
          Sign Up Details
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-list>
          <ion-text color="medium">* denotes required field</ion-text>
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="Name*"
            formControlName="name"
            autocomplete="name"
            id="signUpForm"
            clearInput="true"
            type="text"
            >
            </ion-input>
          </ion-item >
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="Sign in Email*"
            formControlName="signInEmail"
            clearInput="true"
            autocomplete="email"
            type="email">
            </ion-input>
          </ion-item >
          <ion-item>
            <ion-input
            color="dark"
            placeholder="Password*"
            formControlName="password"
            clearInput="true"
            type="password"
            ></ion-input>
          </ion-item>
          <div style='color:#ff7355' 
            *ngIf="passwordWarningCheck()">
              Password must contain an Uppercase.
              Password must contain a Number.
              Password must contain a Lowercase.
              Password minmum lenght must be 8 characters.
          </div>
          <ion-item>
            <ion-input
            color="dark"
            placeholder="Confirm Password*"
            formControlName="confirmPassword"
            clearInput="true"
            type="password"
            ></ion-input>
          </ion-item>
          <div style='color:#ff7355' 
            *ngIf="!confirmPassword()">
              Password does not match
          </div>
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="Phone Number*"
            formControlName="phone"
            clearInput="true"
            autocomplete="tel"
            type="tel">
            </ion-input>
          </ion-item >
          <ion-item *ngIf="isOwner">
            <ion-input 
            color="dark"
            placeholder="Company Name*"
            formControlName="companyName"
            clearInput="true"
            autocomplete="company"
            type="text">
            </ion-input>
          </ion-item >
          <ion-item *ngIf="!isOwner">
            <ion-label>Employer</ion-label>
            <ion-select interface="popover"
            clearInput="true"
            (ionChange)="userEmployerInput($event)"
            formControlName="companyName*">
              <ion-select-option 
                *ngFor="let name of companyNames" 
                [value]="name">{{name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>

  <form [formGroup]="companyForm" *ngIf="isOwner && signUpForm.valid && confirmPassword()">
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="!companyForm.valid">
          Tell us about {{signUpForm.value.companyName}}
        </ion-card-title>
        <ion-card-subtitle>
          Company Details..
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-input 
            placeholder="Contact Email*"
            formControlName="email"
            id="companyForm"
            clearInput="true"
            type="email">
            </ion-input>
          </ion-item >
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="Company Phone*"
            formControlName="phone"
            clearInput="true"
            type="tel">
            </ion-input>
          </ion-item >
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="Website"
            formControlName="website"
            clearInput="true"
            type="text">
            </ion-input>
          </ion-item >
          <ion-item>
            <ion-input
            color="dark"
            placeholder="Address*"
            formControlName="address"
            clearInput="true"
            type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
            color="dark"
            placeholder="City*"
            formControlName="city"
            clearInput="true"
            type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input 
            color="dark"
            placeholder="State*"
            formControlName="state"
            clearInput="true"
            type="text">
            </ion-input>
          </ion-item >
          <ion-item *ngIf="isOwner">
            <ion-input 
            color="dark"
            placeholder="Zip Code*"
            formControlName="zip"
            clearInput="true"
            type="number">
            </ion-input>
          </ion-item >
        </ion-list>
      </ion-card-content>
    </ion-card>

  </form>

  <ion-button *ngIf="this.userSelection" [disabled]="!(signUpForm.valid && !this.isOwner) && !(signUpForm.valid && this.isOwner && this.companyForm.valid)" (click)="signUp()" shape="square" expand="block"> Sign Up
    <ion-icon color="dark" slot="end" name="enter-outline"></ion-icon>
  </ion-button>
  
</ion-content>
