
<ion-header>
  <ion-toolbar>
    <ion-title color="dark" >
      Add Property
    </ion-title>
  </ion-toolbar>
  <ion-fab vertical="bottom" horizontal="end" edge (click)="close()">
    <ion-fab-button color="dark">
      <ion-icon name="close-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>
<ion-content>
  <form [formGroup]="propertyForm" >
  <ion-card>
  
    <ion-card-header>
      <ion-card-subtitle>New Property Details</ion-card-subtitle>
      <!-- <ion-card-title>Fill out the details below</ion-card-title> -->
    </ion-card-header>
      <ion-card-content>
  
        <ion-item>
          <ion-input 
          placeholder="Appt, Home, Duplex, ect.."
          formControlName="propertyType"
          id="propertyType"
          clearInput="true">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="Property Name"
          formControlName="name"
          id="propertyName"
          clearInput="true">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="Street"
          formControlName="street"
          id="street"
          clearInput="true">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="City"
          formControlName="city"
          id="city"
          clearInput="true">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="State"
          formControlName="state"
          id="state"
          clearInput="true">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="Zip"
          formControlName="zip"
          id="zip"
          clearInput="true"
          type="number">
          </ion-input>
        </ion-item >

        <ion-item>
          <ion-input 
          placeholder="Any Extra Description.."
          formControlName="description"
          id="companyForm"
          clearInput="true"
          type="email">
          </ion-input>
        </ion-item >

    </ion-card-content>
    
  </ion-card>
  </form>
</ion-content>