
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="scheduleTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="addEvent()">
    <ion-fab-button color="dark">
      <ion-icon name="add-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>  

  </ion-card>
  <!-- Default List Header -->

    <ion-list-header>
      <ion-label color="dark">
        <h1>{{today | date : 'fullDate'}}</h1>
        <h2>Appointments</h2>
      </ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{today | date : 'short'}}</h2>
          <h3>Property Name</h3>
          <p>Type of appointment</p>
        </ion-label>
        <ion-button color="dark">More Info</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{exDate | date : 'short'}}</h2>
          <h3>Property Name</h3>
          <p>Type of appointment</p>
        </ion-label>
        <ion-button color="dark">More Info</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{exDate1 | date : 'short'}}</h2>
          <h3>Property Name</h3>
          <p>Type of appointment</p>
        </ion-label>
        <ion-button color="dark">More Info</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{exDate2 | date : 'short'}}</h2>
          <h3>Property Name</h3>
          <p>Type of appointment</p>
        </ion-label>
        <ion-button color="dark">More Info</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{exDate3 | date : 'short'}}</h2>
          <h3>Property Name</h3>
          <p>Type of appointment</p>
        </ion-label>
        <ion-button color="dark">More Info</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
