
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="scheduleTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="addEvent()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
  <ion-card>  
      <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
  </ion-card>
</ion-content>
