
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="scheduleTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="addEvent()">
    <ion-fab-button color="dark">
      <ion-icon name="add-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>  

  </ion-card>
  
</ion-content>
