<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  color="secondary" menu="homeTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title  color="secondary">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Input Items -->
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Input</ion-label>
        <ion-input color="secondary"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle color="secondary" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Radio</ion-label>
        <ion-radio color="secondary" slot="end"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
