
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"  menu="propertiesTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" >
      Properties
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="addProperty($event)">
    <ion-fab-button color="dark">
      <ion-icon name="add-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar *ngIf="properties.length > 2">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <!-- <ion-list color="light"> -->
    <ion-card *ngIf="properties.length == 0">
      <ion-card-header>
        <ion-card-subtitle>Add a Property to see it here</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <div *ngFor="let property of properties">
      <iopm-property-display [property]="property"></iopm-property-display>
    </div>
  <!-- </ion-list> -->

</ion-content>
