<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary" menu="homeTabMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary" >
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Appointments</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A place for upcomming work.
    </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Payments</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        A place for expected payments.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Previous</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        A place for previous work information.
      </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
  <!-- <ion-card position="bottom">
    <ion-card-header>
      <ion-card-title>KB Homes Services</ion-card-title>
      <ion-card-subtitle>Logged in as Kollin Buchholz</ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->
</ion-footer>