<ion-popover [isOpen]="isPopoverOpen" side="top" alignment="start">
  <ng-template>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
    </ion-card>
  </ng-template>
</ion-popover>

<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="homeTab">
      <ion-icon color="light" name="newspaper-outline"></ion-icon>
      <ion-label color="light">Upcoming</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="propertiesTab">
      <ion-icon color="light" name="home"></ion-icon>
      <ion-label color="light">Properites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scheduleTab">
      <ion-icon color="light" name="calendar"></ion-icon>
      <ion-label color="light">Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
