<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="properties" href="/tabs/properties">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Properties</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services" href="/tabs/services">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" href="/tabs/schedule">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work-orders" href="/tabs/work-orders">
      <ion-icon aria-hidden="true" name="hammer"></ion-icon>
      <ion-label>Work Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
