<ion-header class="ion-no-border">
  <ion-toolbar >
    <!-- <ion-title color="tertiary">
      IoPropertyManager
    </ion-title> -->
    <!-- <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button style="font-weight: 600;" color="primary" routerLink="/sign-up">
        SIGN UP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <div id="header">
    <img src="assets/logo.png"/>
    <h1> Login </h1>
  </div>

  <form [formGroup]="credentialForm" id="form">
      <ion-card color="clear" class="ion-no-margin">
        <ion-card-content>
            <ion-item>
              <ion-label color="dark" position="floating">Email Address</ion-label>
              <ion-input 
              (ionChange)="updateEmail($event)"
              color="dark"
              placeholder="email@gmail.com"
              formControlName="email"
              clearInput="true"
              type="email">
              </ion-input>
            </ion-item >
            <ion-item>
              <ion-label color="dark" position="floating">Password</ion-label>
              <ion-input
              color="dark"
              placeholder="Password"
              formControlName="password"
              clearInput="true"
              type="password"
              ></ion-input>
            </ion-item>
          <ion-button [disabled]="!credentialForm.valid" (click)="signIn()"  expand="block"> SIGN IN
            <ion-icon color="dark" slot="end" name="enter-outline"></ion-icon>
          </ion-button>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Password is required</span>
            <span *ngIf="password.errors?.minlength">Password must be 6 characters</span>
          </div>
        </ion-card-content>
      </ion-card>


</form>
 
</ion-content>
