<!-- <ion-input type="text" value="message" placeholder="your message...">

</ion-input> -->

<!-- <ion-list-header>
  <ion-label color="dark">
    <h1>Markers</h1>
  </ion-label>
</ion-list-header>
<ion-list *ngFor="let marker of markers | async">
  <ion-item>
    <ion-button (click)="flyTo(marker)" color="dark">{{marker.properties.message}}</ion-button>
    <ion-button (click)="removeMarker(marker)" color="dark">Delete</ion-button>
    </ion-item>
</ion-list> -->
<style>#map { position:relative; height: 200px; width:100%; }</style>
<div class="mapboxgl-map"  id="map">
</div>
