<ion-split-pane contentId="scheduleTabContent" [disable]="!paneEnabled">
  <ion-menu contentId="scheduleTabContent" menuId="scheduleTabMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          {{menuTitle}}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="scheduleTabMenu" *ngFor="let item of menuList">
          <ion-item [routerLink]="item.route" routerDirection="root" rounterLinkActive="active-item">
            <ion-label>{{item.label}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  
  <ion-router-outlet id="scheduleTabContent"></ion-router-outlet>
</ion-split-pane>